<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gradient-to-b from-gray-900 via-gray-950 to-gray-900 min-h-screen text-gray-200 caret-transparent p-5">

  <div>
    <div class="w-full flex justify-end">
      <a class="bg-red-600 hover:bg-red-500 text-white text-xl rounded-md px-3  py-1" href="/logout">Logout</a>
    </div>
    <h1 class="text-2xl capitalize mb-2 mt-5">
      <span class="font-light">Hello</span>, <%= user.name %>👋
    </h1>
    <h4 class="text-2xl mb-3 self-start">You can create a new post.📝</h4>
    <!-- Create form -->
    <form action="/post" method="post">
      <textarea  spellcheck="false" name="content" placeholder="What's on your mind?" cols="50" rows="3"
        class=" caret-gray-200 resize-none mb-3 block bg-transparent  border-2 border-gray-600 focus:ring-2 focus:ring-blue-500 focus:outline-none focus:border-transparent transition duration-200 p-3 rounded-md"></textarea>
      <input type="submit" value="Create New Post"
        class=" px-4 py-2 bg-blue-600 hover:bg-blue-500 text-white font-semibold rounded-md cursor-pointer transition duration-200">
    </form>
  </div>

  <div class="flex flex-col gap-5">
    <h3 class="mb-2 mt-20 text-zinc-400 text-2xl font-bold">Your Posts.</h3>
    <div class="flex flex-wrap gap-5 grid justify-items-center grid-cols-2">
      <!-- posts -->
      <% user.posts.reverse().forEach((post)=>{ %>
        <div class="border-[1px] p-3 rounded-md bg-zinc-900 border-zinc-800 w-[100%] relative ">
          <h5 class="font-semibold text-blue-600">
            @<%= user.username %>
          </h5>
          <p class="tracking-tight">
            <%= post.content %>
          </p>
          <p class="text-[14px] font-semibold text-zinc-600 absolute top-2 right-5">
            <%= post.date.toLocaleTimeString([], { hour: '2-digit' , minute: '2-digit' }).toUpperCase() %>
          </p>
          <p  class=" text-sm font-bold bg-yellow-700 inline-block mt-4 rounded-full px-[10px] py-[2px] text-white ">
            <%= post.likes.length %> Like
          </p>
          <div class="btns flex mt-5 gap-5">
            <a class="text-green-600 bg-zinc-800 px-2 py-1 rounded-md " href="/like/<%= post._id %>">
              <%= post.likes.indexOf(user._id)===-1 ? "Like" : "Unlike" %>
            </a>
            <a class="text-zinc-500 bg-zinc-800 px-2 py-1 rounded-md" href="/update/<%= post._id %>">Edit</a>
            <form method="post" action="/delete/<%= post._id %>" >
              <button type="submit" class="text-red-500 bg-zinc-800 px-2 py-1 rounded-md">Delete</button>
            </form>
          </div>
        </div>
        <% }) %>
    </div>
  </div>
</body>

</html>